- var wEm = pageElement.getProperty('Width').value / sizeAdjust, xEm = pageElement.getProperty('Offset X').value / sizeAdjust, yEm = pageElement.getProperty('Offset Y').value / sizeAdjust;
span.text.element.placeable(data-id=cmsItemID, style="width:#{wEm}em;left:#{xEm}em;top:#{yEm}em") !{parsedText}